@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

:root{
    --colorBackground1: #FFF9F0;
    --colorBackground2: #FAF0E2;
    --colorAccent1: #743014;
    --colorAccent2: #821100;
    --colorText: #2D2D2D;
    --colorPlaceholderText: #636363;
    --colorInputFieldGrayedOut: #e1e1e1;

    --fontDesktopH1: 'Playfair Display', serif; /* Bold */
    --fontDesktopH2: 'Playfair Display', serif; /* Bold */
    --fontDesktopH3: 'Playfair Display', serif; /* Normal */
    --fontDesktopH4: 'Roboto', sans-serif; /* Semibold */
    --fontDesktopH5: 'Roboto', sans-serif; /* Medium */
    --fontDesktopP: 'Roboto', sans-serif; /* Normal */
    
    --fontMobileH1: 'Playfair Display', serif; /* Bold */
    --fontMobileH2: 'Playfair Display', serif; /* Bold */
    --fontMobileH3: 'Playfair Display', serif; /* Semibold */
    --fontMobileH4: 'Roboto', sans-serif; /* Semibold */
    --fontMobileH5: 'Roboto', sans-serif; /* Medium */
    --fontMobileP: 'Roboto', sans-serif; /* Regular */    
}
