@import url(./_variables.css);



.admin-main{
    
    > *{
        margin-bottom: var(--smallMargin);
    }


    input{
        background-color: var(--colorBackground1);
        border: 1px solid black;
        width: 100%;
        padding: var(--extraSmallPadding);
        margin-bottom: var(--extraSmallPadding);
        border-radius: 0.5em;
    }

    label{
        font-family: var(--fontMobileH4);
        font-size: 1.125em;
        font-weight: 500;
    }


    form{
        margin-top: var(--extraBigMargin);
    }
}


#submit-book-btn{
    background-color: var(--colorAccent2);
    color:var(--colorBackground1);
    border-radius: 	0.3125em;
    border:2px solid var(--colorAccent2);
    padding:0.5rem 2rem;
    margin:1em 0;
    max-width: 100%;
}

#submit-book-btn:hover{
    background-color: var(--colorBackground1);
    color: var(--colorAccent2);
}



input {
    background-color: var(--colorBackground1);
    border: 1px solid black;
    width: 100%;
    padding: var(--extraSmallPadding);
    margin-bottom: var(--extraSmallPadding);
    border-radius: 0.5em;
}

/* Tablet styles */
@media screen and (min-width: 768px) {

    #admin-form {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal-width columns */
        gap: 2rem; /* Space between columns */
        max-width: 90%; /* Adjust the max width as needed */
        margin: 0 auto; /* Center the form */
    }


    #admin-content{
        max-width: 66%;
        margin: auto;
    }

    #admin-title{
        margin-bottom: var(--bigMargin);
    }
    
    .input-group {
        display: flex;
        flex-direction: column;
    }
    
    .column-right {
        margin-top: 2rem; /* Ensure some spacing for the right column */
    }

}



#admin-title{
    margin-bottom: var(--bigMargin);
}


/* Desktop styles*/
@media screen and (min-width: 1024px) {

        #admin-form {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Two equal-width columns */
            gap: 2rem; /* Space between columns */
            max-width: 90%; /* Adjust the max width as needed */
            margin: 0 auto; /* Center the form */
        }


        #admin-content{
            max-width: 50%;
            margin: auto;
        }

        
        .input-group {
            display: flex;
            flex-direction: column;
        }

        label{
            font-family: var(--fontDesktopH4);
            font-size: 1.375em;
            font-weight: 500;
    }
        
        .column-right {
            margin-top: 2rem; /* Ensure some spacing for the right column */
        }
        

        
        #submit-book-btn {
            grid-column-start:2;
        }

    }