@import url(./_variables.css);

.admin-main{
    h1{
        text-align: center;
    }

    .add-new{
        margin:1em 1em;

        header{
            margin:1em;
        }
    }

    .admin-form{
        display:flex;
        flex-direction: column;
        margin:1em;

        div{
            display:flex;
            flex-direction: column;
        }

        input{
            background-color: var(--colorBackground1);
            border-radius: 0.3125em;
            border:1px solid var(--colorText);
            padding:1rem;
            margin:0.5em 0;
        }
    
        label{
            font-family: var(--fontH4);
            font-size: 1.125em;
            font-weight: 500;
        }

        button{
            background-color: var(--colorAccent2);
            color:var(--colorBackground1);
            border-radius: 	0.3125em;
            border:2px solid var(--colorAccent2);
            padding:0.5rem 2rem;
            margin:1em 0;
        }
    }

    .admin-form-publisher{
        margin:1em;
        display:flex;
        flex-direction: column;
    }

    div{
        display:flex;
        flex-direction: column;
    }

    input{
        background-color: var(--colorBackground1);
        border-radius: 0.3125em;
        border:1px solid var(--colorText);
        padding:1rem;
        margin:0.5em 0;
    }

    label{
        font-family: var(--fontH4);
        font-size: 1.125em;
        font-weight: 500;
    }

    button{
        background-color: var(--colorAccent2);
        color:var(--colorBackground1);
        border-radius: 	0.3125em;
        border:2px solid var(--colorAccent2);
        padding:0.5rem 2rem;
        margin:1em 0;
    }

}


@media screen and (min-width: 1024px) {
    .admin-main{    
        h1{
            text-align: left;
        }
        .admin-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:1em;
        }

        .admin-form-publisher{
            max-width:50%;
        }
    }
}

