@import url(./_variables.css);


.book-list {
    background-color: var(--colorBackground1);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 5em));
    gap: 3em;
    margin-top: var(--bigMargin);
    justify-content: center;
}


.book-article {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h4{
        white-space: nowrap;        /* Prevent text from wrapping to the next line */
        overflow: hidden;           /* Hide the overflowing text */
        text-overflow: ellipsis;    /* Add "..." to indicate truncated text */
        max-width: 100%;
    }
}

.book-cover-ctn {
    margin-bottom: 1em;
    max-width: 250px;
}

.authorYearCtn {
    display: flex;
    margin-bottom: var(--smallMargin);
}

.borrow-button{
    color: var(--colorAccent2);
    background-color: transparent;
    border: 1px solid var(--colorAccent2);
    padding: 0.5em 2.2em 0.5em 2.2em;
    border-radius: 5px;
    margin-bottom: var(--bigMargin);
}

.author-name {
    text-decoration: underline;
}




/* ------------------- Tablet styles -----------------*/
@media screen and (min-width: 768px) {

    .book-list {
        justify-content: space-evenly
    }

    .book-article{
        align-items: flex-start;
    }
}
