@import url(./_variables.css);

.profile-section-1{
    margin:0.5em;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1em;

    #your-name-title{
        padding-bottom:0.5em;
        border-bottom:2px solid var(--colorAccent2);
    }

    .member-since{
        padding-top:0.5em;
    }
}

.profile-form-section{
    margin:0.5em;
    #user-form{
        margin:1em 0;

        .input-group{
            display:flex;
            flex-direction: column;
        }
        input{
            background-color: var(--colorBackground1);
            border-radius: 0.3125em;
            border:1px solid var(--colorText);
            padding:1rem;
            margin:0.5em 0;
        }

        label{
            font-family: var(--fontMobileH4);
            font-size: 1.125em;
            font-weight: 500;
        }

        .edit-profile-btn{
            background-color: var(--colorAccent2);
            color:var(--colorBackground1);
            border-radius: 	0.3125em;
            border:2px solid var(--colorAccent2);
            padding:0.5rem 2rem;
            margin:1em 0;
            width:100%;
        }
        
        button:hover{
            background-color: var(--colorBackground1);
            color: var(--colorAccent2);
        }
    }
}

/*---------------------------------------------------
------------------- DESKTOP -------------------------
----------------------------------------------------*/

@media only screen and (min-width: 1024px) {
    .profile-section-1{
        grid-template-columns:25% 75%;
    
    }
    #user-form{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:1em;

        .edit-profile-btn{
            grid-column-start:2;
        }
    }
}
