@import url(./_variables.css);



.user-main{
    

    h1{
        margin-bottom: 0.5em;
    }
    > *{
        margin-bottom: var(--smallMargin);
    }

    .member-since{
        display: flex;
    }

    .black-line{
        border: 1px solid black;
    }

    input{
        background-color: var(--colorBackground1);
        border: 1px solid black;
        width: 100%;
        padding: var(--extraSmallPadding);
        margin-bottom: var(--extraSmallPadding);
        border-radius: 0.5em;
    }


    form{
        margin-top: var(--extraBigMargin);

        
    }
}

#dlt-profile{
    display: flex;
    justify-content: flex-start;
    width: fit-content;

}

.trash-icon{
    margin-right: 2em;
}

.profile-pic{
    border-radius: 5em;
    max-width: 15em;
    margin-left: 25%;
}


.edit-profile-btn{
        background-color: var(--colorAccent2);
        color:var(--colorBackground1);
        border-radius: 	0.3125em;
        border:2px solid var(--colorAccent2);
        padding:0.5rem 2rem;
        margin:1em 0;
        width: 100%;
        border-radius: 2em;

}

/* Tablet styles */
@media screen and (min-width: 768px) {

    .profile-pic{
        max-width: 20em;
        height: auto;
        margin-left: 33%;
    }


  }
  /* Desktop styles*/
  @media screen and (min-width: 1200px) {

    
    .profile-pic{
        max-width: 20em;
        height: auto;
        margin-left: 10%;
    }

        #profile-titles{
        display: grid;
        grid-template-columns: 1fr 3fr; /* Two columns of equal width */
        grid-template-rows: 1fr; /* Two rows with height based on content */
        }


        #your-name{
            padding-left: var(--bigPadding);
        }


        #user-form{
            display: grid;
            grid-template-columns: 1fr 1fr; /* Two equal-width columns */
            gap: 2rem; /* Space between columns */
            max-width: 90%; /* Adjust the max width as needed */
            margin: 0 auto; /* Center the form */
            margin: var(--bigMargin);
        }


        .edit-profile-btn{
            width: 25%;
            margin-left: auto;
            grid-column: 2;
        }
    }