<div class="footer-logo">
        <div class="footer-img"><img src="../assets/logo.svg"></div>
        <p>Read. Download. Enjoy. Repeat.</p>
        
</div>
    <nav class="acc-serv">
        <h4>Account and services</h4>
            <ul>
                <li>Help center</li>
            </ul>
    </nav>
    <nav class="legal">
        <h4>Policies and legal</h4>
        <ul>
            <li>Terms of service</li>
            <li>Privacy policy</li>
            <li>Refund policy</li>
        </ul>
    </nav>
    <div class="subscribe">
        <h4>Subscribe to our newsletter!</h4>
        <input type="email" id="email" name="email" placeholder="johndoe@email.com">
        <button class="footer-btn" type="submit">Subscribe</button>
    </div>
<div class="contact">
        <h4>Contact us</h4>
        <address>E-mail: <a href="mailto:contact@bookedout.com">contact@bookedout.com</a></address>
</div>
    <p id="copyright">&copy; 2024 BookedOut. All rights reserved.</p>