<div class="header-logo">
    <a href="../index.html">
        <img src="../assets/logo.svg" class="header-logo" alt="Booked Out">
    </a>
</div>
<div id="user-status">
    <!-- Dynamic content will be injected here by JavaScript -->
</div>
<form id="search-form" action="../views/displayBooks.html" method="GET" class="search-input">
    <input type="text" id="search" name="search" placeholder="Search..." />
    <button type="submit" class="search-icon">
        <img src="../assets/search.svg" alt="search" class="search-icon">
    </button>
</form>
