<img src="../assets/logo.svg" class="header-logo" alt="Booked Out">
<div id="user-status">
    <!-- Default: Not logged in -->
    <h5><a href="login.html" id="login-button">Login</a></h5>
    
    <!-- Logged-in: Two images inside a div -->
    <div class="logged-in" id="logged-in">
        <img src="../assets/profile.svg" alt="profile" class="image-left">
        <img src="../assets/arrow.svg" alt="arrow" class="image-right">
    </div>
</div>
<!--For testing -->
<!-- <button onclick="toggleLogin()">Toggle Login</button> For testing -->


<input type="text" id="search" name="search" placeholder="Search..." class="search-input" />