<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse all books | Booked out</title>
    <script type="module" src="../js/apiFetchRequest.js" defer></script>
    <script type="module" src="../js/fetchFunctions.js" defer></script>
    <script src="../js/globalTemplate.js" defer></script>
    <link rel="stylesheet" href="../css/displayBooks.css">
    <link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <header class="header-container"></header>


    <main>



        <h3>Search result for</h3>

        <section class="book-list">


        </section>

    </main>





    <footer class="footer-container"></footer>
</body>
</html>