<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse all books | Booked out</title>
    <script type="module" src="../js/apiFetchRequest.js" defer></script>
    <!-- <script type="module" src="../js/fetchFunctions.js" defer></script> -->
    <script src="../js/globalTemplate.js" defer></script>
    <script src="../js/userFunctions.js" defer></script>
    <script src="../js/header.js" defer></script>
    <link rel="stylesheet" href="../css/userProfile.css">
    <link rel="stylesheet" href="../css/global.css">
</head>

<header class="header-container"></header>

<body>

    
    <main class="user-main">
        
        <div id="profile-titles">
        
            <div class="">
            <h1>Your Profile</h1>

                <img class="profile-pic" src="../assets\placeholderImg-1-1.png" alt="Your profile picture">
            </div>
            
            <div id="your-name">
                <h2 id="your-name-title">Your Name</h2>
                
                <div class="black-line"></div>


                <div>
                    <div class="member-since">
                        <h4>Member since: </h4>
                        <h4>Your Date</h4>
                    </div>
                    </div>

            </div>
            </div>

            <a id="edit-info" href="#edit-info">Edit your info</a>






            <form id="user-form">


                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email">
                </div>

                <div class="input-group">
                    <label for="first_name">First name</label>
                    <input type="text" id="first_name" name="first_name">
                </div>
            
                <div class="input-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name">
                </div>
            
                <div class="input-group column-right">
                    <label for="birth_date">Birth date</label>
                    <input type="text" id="birth_date" name="birth_date">
                </div>
            
                <div class="input-group column-right">
                    <label for="address">Adress</label>
                    <input type="text" id="address" name="address">
                </div>


                <div class="input-group column-right">
                    <label for="phone_number">Phone number</label>
                    <input type="text" id="phone_number" name="phone_number">
                </div>

                <button class="edit-profile-btn column-right" type="submit">Edit</button>
            </form>

            
            <a id="dlt-profile" href="#delete-profile">
                <span class="trash-icon">🗑️</span>
                <p>Remove your user profile</p>
            </a>


    </main>


        <footer class="footer-container"></footer>

</body>
