<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse all books | Booked out</title>
    <script type="module" src="../js/apiFetchRequest.js" defer></script>
    <script src="../js/globalTemplate.js" defer></script>
    <script src="../js/userFunctions.js" defer></script>
    <script src="../js/header.js" defer></script>
    <link rel="stylesheet" href="../css/userProfile.css">
    <link rel="stylesheet" href="../css/global.css">
</head>


<body>
    <header class="header-container">
    </header>

    <main class="user-main">
        <header>
            <h1>Your profile</h1>
        </header>

        <section class="profile-section-1" id="profile-titles">
            <img class="profile-pic" src="../assets\placeholderImg-1-1.png" alt="Your profile picture">
            <div>
                <h2 id="your-name-title">Your Name</h2> <!-- id bruges i js-->
                <h4 class="member-since">Member since: <span id="your_date">membership date</span></h4></div>
            </div>
        </section>

        <section class="profile-form-section">

            <form id="user-form"> <!-- id's i formen bruges i js-->
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email">
                </div>

                <div class="input-group">
                    <label for="first_name">First name</label>
                    <input type="text" id="first_name" name="first_name">
                </div>
            
                <div class="input-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name">
                </div>
            
                <div class="input-group column-right">
                    <label for="birth_date">Birth date</label>
                    <input type="text" id="birth_date" name="birth_date">
                </div>
            
                <div class="input-group column-right">
                    <label for="address">Adress</label>
                    <input type="text" id="address" name="address">
                </div>
                <div class="input-group column-right">
                    <label for="phone_number">Phone number</label>
                    <input type="text" id="phone_number" name="phone_number">
                </div>
                <button class="edit-profile-btn column-right" type="submit">Edit</button>
            </form>
            
            <a id="dlt-profile" href="#">
                <p><span class="trash-icon">🗑️</span> Remove your user profile</p>
            </a>
        </section>
    </main>


    <footer class="footer-container">

    </footer>

</body>
